@model IEnumerable<SceneCrm.Entities.Volunteer>

@{
    ViewBag.Title = "Eligible Volunteers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EligibleVolunteers</h2>

<table>
    <tr>
        <th>
            FirstName
        </th>
        <th>
            Surname
        </th>
        <th>
            Is Eligible
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @item.IsEligible ? "Is Eligible" : "Not Eligible";
        </td>
    </tr>
}

</table>
