<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SceneCrm.LegacyData.Properties.Settings.VolunteersConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\dylan.beattie\Documents\Scene &amp; Heard\Volunteers.mdb&quot;;Persist Security Info=True;Jet OLEDB:Database Password=giraffe"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>