@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    The Scene & Heard external website is on Wordpress somehwere<br />
    The ticketing systems is <a href="http://sceneandheard.eventbrite.com">on Eventbrite</a>
</p>
