<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="SceneCRM" connectionString="metadata=res://*/SceneCRM.csdl|res://*/SceneCRM.ssdl|res://*/SceneCRM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=77941e0b-f7b4-4a74-819a-9f87015f6e63.sqlserver.sequelizer.com;initial catalog=db77941e0bf7b44a74819a9f87015f6e63;persist security info=True;user id=kuufngfzitecaglb;password=345wveoRtykBrEYPgy8yk6zu2uqQFR5JUjvwyg8tGf3heSMV4B8KrbY5BHDbWFjJ;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
  </connectionStrings>
</configuration>