<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SceneCRM" connectionString="metadata=res://*/SceneCRM.csdl|res://*/SceneCRM.ssdl|res://*/SceneCRM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=144.82.248.83\sql2k8;initial catalog=SceneCRM;persist security info=True;user id=givecamp;password=givecamp11;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>