@model IEnumerable<SceneCrm.Entities.VolunteerCrbCheck>


@{
    ViewBag.Title = "CRBChecks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Volunteer CRB Checks</h2>
<p>This report shows volunteers whose CRB Checks are</p>
<ul>
    <li>Not approved</li>
    <li>Expired (three years since approval)</li>
    <li>Status unknown</li>
</ul>

@*@using (Html.BeginForm())
{ 
    <fieldset>
        <legend>Search</legend>
        <div>First Name:</div>
        <div><input type="text" id="firstName" name="firstname" /></div>
        <div>Last Name:</div>
        <div><input type="text" id="surname" name="surname" /></div>
        <div>Check Status:</div>
        <div>
            <select id="checkStatus" name="checkStatus">
                <option title="All">Show All</option>
                <option title="OK">Valid</option>
                <option title="Invalid">Invalid</option>
                <option title="Unknown">Unknown</option>
            </select>
        </div>
        <p>
            <input type="submit" value="Search" />
        </p>
    </fieldset>
}*@

<div id="optionsGrid">
    @Html.Partial("_optionsGrid", Model)
</div>